*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settinngs.gradle
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/google-services.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
